@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --primary-color: rgb(142, 173, 207);
  --tab-active: rgb(221, 221, 221);
}

* {
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

button {
  border: none;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 90vh;
  width: 90vw;
  max-width: 650px;
}

.container h1 {
  margin-bottom: 1rem;
}

navbar {
  margin: 0;
  padding: 0;
  width: 100%;
}

navbar ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

navbar ul li {
  display: inline-block;
  padding: 0.4rem 1.5rem 0.4rem 1rem;
  background-color: #fff;
  -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
  clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
}

navbar ul li.active,
navbar ul li:hover {
  background-color: var(--tab-active);
  font-weight: bold;
}

navbar ul li a {
  text-decoration: none;
  color: #000;
}

main {
  background-color: var(--tab-active);
  width: 100%;
  height: 70%;
  max-height: 500px;
  padding: 1.2rem;
}

main .content {
  height: 90%;
  position: relative;
}

main .content-tab {
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
}

main .content-tab.show {
  display: flex;
}

main .content .activity-container {
  height: 50%;
  width: 100%;
  margin: 5px;
  padding: 20px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

main .content .activity-container .div-form {
  display: flex;
  flex-direction: column;
}

main .content .activity-container .div-form div {
  display: flex;
  margin: 2px;
  padding: 2px;
}

.form-label {
  width: 25%;
  height: 2.5rem;
  display: flex;
  align-items: center;
}

.form-control {
  width: 75%;
  max-width: 250px;
  font-size: 1rem;
}

main .content .activity-container .activity-time {
  background-color: var(--tab-active);
  padding: 2px;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translate(50%, -50%);
}


main .controls {
  height: 10%;
  width: 100%;
  padding: 0 1rem;
  position: relative;
}

main .controls button {
  width: 5.5rem;
  height: 75%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.85rem;
}

main .controls button:hover {
  background-color: #fff;
  opacity: 0.9;
  font-weight: bold;
}

main .controls button.hidden {
  display: none;
}

main .controls button.previous {
  border-radius: 50% 0 0 50%;
  padding-right: 5px;
  justify-content: end;
  left: 2rem;
}

main .controls button.next {
  border-radius: 0 50% 50% 0;
  padding-left: 5px;
  justify-content: start;
  right: 2rem;
}

main .controls button.next:active,
main .controls button.previous:active {
  transform: translateY(-50%) scale(1.02);
}

main .controls button.cls {
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fff;
  border-radius: 5px;
  width: 6.8rem;
  height: 95%;
}

main .controls button.cls:active {
  transform: translateY(-50%) translateX(-50%) scale(1.02)
}

main .controls button.cls:hover {
  background-color: rgb(223, 71, 89);
  font-weight: bold;
  opacity: 0.9;
}

p {
  margin: 2px 2px 2px 8px;
  padding: 0;
  font-size: 0.8rem;
}

h4 {
  margin: 5px 0 5px 12px;
  padding: 0;
  font-size: 1rem;
}

.horizontal-line {
  margin: auto;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  height: 2px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.2);
}

.total-time,
.total-kc {
  margin-left: auto;
}

.bolded {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.error {
  color: rgb(223, 71, 89);
  background-color: var(--tab-active);
  width: 100%;
  margin-top: 1rem;
  padding: 0.3rem;
  display: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

@media (max-width: 480px) {
  * {
    font-size: 12px;
  }
}